<td class='code'><label for='{{valueId}}'>{{name}}</label></td>
<td>

	{{#if isBody}}
		{{#if isFile}}
			<input type="file" name='{{name}}' id='{{valueId}}'/>
		{{else}}
			<div class="editor_holder"></div>
			<textarea class='body-textarea' name='{{name}}' id='{{valueId}}'>{{schema.default}}</textarea>
            <br />
		{{/if}}
	{{else}}
		{{#if isFile}}
			<input type="file" name='{{name}}' id='{{valueId}}'/>
		{{else}}
			{{#renderTextParam this}}
			{{/renderTextParam}}
		{{/if}}
	{{/if}}

</td>
<td class="markdown">{{{description}}}</td>
<td>{{{paramType}}}</td>
<td>
	<span class="model-signature"></span>
</td>
